/* src/components/Photos.css */
.photosfilm {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .grid-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }